/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC_RAW {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/fastqc/raw" },
            mode: params.publish_dir_mode,
            pattern: "*.html",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]        
    }

    withName: TRIMMOMATIC {
        ext.args2 = "${params.trimmomatic_params}"
    }

    withName: FASTP {
        ext.args = "${params.fastp_params}"
    }

    withName: FASTQC_TRIMMED {
        ext.args = ''
        ext.prefix = { "${meta.id}_trimmed" }
        publishDir = [
            path: { "${params.outdir}/fastqc/trimmed" },
            mode: params.publish_dir_mode,
            pattern: "*.html",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]        
    }

    withName: KRAKEN2_MAIN {
        ext.args = "${params.kraken_args}"
        publishDir = [
            path: { "${params.outdir}/kraken2/main" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ALIGN_READS {
        ext.args = "${params.minimap2_args}"
    }

    withName: ALIGNMENT_CLASSIFY {
        publishDir = [
            path: { "${params.outdir}/alignment_classified" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SAMTOOLS_QUALITY_FILTER {
        ext.args = "-bq ${params.mapping_quality}"
        publishDir = [
            path: { "${params.outdir}/samtools/mapped" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SAMTOOLS_FASTQ_MAPPED {
        ext.args = "-n"
        publishDir = [
            path: { "${params.outdir}/samtools/mapped" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: BBMAP_REFORMAT_CLEAN_MAPPED {
        publishDir = [
            path: { "${params.outdir}/bbmap/mapped" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: KRAKEN_ALIGNMENT_COMPARISON {
        publishDir = [
            path: { "${params.outdir}/classifier_comparison_alignment-kraken" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ALIGNMENT_CLASSIFICATION_GRAPH {
        publishDir = [
            path: { "${params.outdir}/alignment-classification-graph" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: KRAKENTOOLS_EXTRACTKRAKENREADS {
        ext.args = "${params.krakentools_args}"
        publishDir = [
            path: { "${params.outdir}/krakentools/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SPADES {
        ext.args = "${params.spades_args}"
    }

    withName: BLAST_BLASTN {
        ext.args = "-evalue ${params.blast_evalue} -perc_identity ${params.blast_perc_identity} -max_target_seqs ${params.blast_target_seqs}"
        publishDir = [
            path: { "${params.outdir}/blast_blastn" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]  
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
